.city-detail
  width: 100%
  max-width: 700px
  display: flex
  flex-grow: 1
  flex-direction: column
  align-items: center
  .other-weather-content
    max-width: 500px
    width: 100%
    margin-top: 2rem
