.home
  width: 100%
  display: flex
  flex-grow: 1
  flex-direction: column
  align-items: center
  .search-area
    width: 100%
    max-width: 460px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .weather-button
      margin-top: 15px
    .search-result-card
      margin-top: 85px
      width: 325px
      max-width: 100%

  .cities-area
    width: 100%
    margin-top: 85px
    display: flex
    align-items: center
    flex-direction: column
    .title
      font-weight: 700
      font-size: 30px
    .cities-content
      width: 100%
      margin-top: 48px
      display: grid
      gap: 21px
      @include desktop
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr))
      @include mobile
        grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)) !important

