<template>
  <div class="card" :class="{small, big: !small}">
    <div class="title">
      {{ title }}
    </div>
    <div>
      <div class="text">
        {{ text }}
      </div>
      <div v-if="$slots['otherText']" class="other-text">
        <slot name="otherText"></slot>
      </div>
      <div class="sub-text">
        {{ subText }}
      </div>
    </div>
    <div v-if="$slots['icon']" class="icon">
      <slot name="icon"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    small: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    },
    subText: {
      type: String,
      default: ''
    }
  }
}
</script>
