<template>
  <div class="search-area">
    <input v-model="searchText"
           class="weather-input"
           placeholder="Search City, Zip Code or Airport"
           @keyup.enter="$emit('search', searchText)"/>
    <button class="weather-button primary"
            :disabled="!searchText || disabled"
            @click="$emit('search', searchText)">
      Add New City
    </button>
  </div>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data(){
    return {
      searchText: ''
    }
  }
}
</script>
