body, html
  background: $background-color
  color: $text-color
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu
  width: 100%
  overflow-x: hidden
  font-size: 20px
  @include mobile
    font-size: 18px
.page, #__nuxt, #__layout
  width: 100%
  height: 100%

.page
  display: flex
  flex-direction: column

.content
  flex-grow: 1
  display: flex
  width: 100%
  flex-direction: column
  align-items: center
  align-self: center
  max-width: 1100px
  padding: 0 32px 32px 32px

.strong-text
  color: $primary-color
