.weather-input
  border: none
  width: 100%
  height: 70px
  background-color: $input-background
  text-align: center
  border-radius: 1rem
  font-size: 22px
  @include mobile
    font-size: 16px
    font-weight: 500
  &:hover, &:focus ,&:active
    outline: none !important

.weather-button
  width: 100%
  padding: 10px
  height: 70px
  font-weight: 700
  text-align: center
  border-radius: 13px
  border: none
  font-size: 22px
  @include mobile
    font-size: 16px
  &:disabled
    opacity: 0.8
    cursor: not-allowed
  &:not(&:disabled)
    &:hover
      opacity: 0.9
  &.primary
    background-color: #0076FF
    color: white
