.card
  background-color: white
  border-radius: 1rem
  display: flex
  flex-direction: column
  justify-content: space-between
  box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.1)
  font-weight: 800
  width: 100%
  position: relative
  .icon
    position: absolute
    right: 7%
    top: 7%
    i
      color: #010101
      font-size: 125px
      @include mobile
        font-size: 90px
  .other-text
    font-weight: 700
    margin-bottom: 22px
    @include mobile
      font-size: 18px
  .title
    color: rgba($text-color, 0.5)
    font-size: 1rem !important
    @include mobile
      font-size: 18px !important
      font-weight: 800
  .sub-text
    font-weight: 600

  &.small
    padding: 45px
    @include mobile
      padding: 25px 40px
    .text
      font-size: 60px
      font-weight: 700
      @include mobile
        font-size: 50px
    .sub-text
      font-weight: 700
      font-size: 1rem
      @include mobile
        font-size: 18px
  &.big
    padding: 60px 100px
    @include mobile
      padding: 35px 40px
    .text
      font-size: 75px
      margin: 22px 0px
      @include mobile
        font-size: 65px
    .sub-text
      font-size: 25px
      @include mobile
        font-size: 20px
