.header
  display: flex
  justify-content: center
  align-items: center
  padding: 60px 15px
  .back
    cursor: pointer
    svg
      height: 34px
      width: 17px
      margin-right: 40px
      @include mobile
        margin-right: 34px
  .title
    font-size: 50px
    font-weight: 500
    @include mobile
      font-size: 20px
  .logo
    display: flex
    justify-content: center
    align-items: center
    span
      font-size: 50px
      font-weight: bold
      @include mobile
        font-size: 40px
    svg
      margin-right: 22px
      width: 60px
      height: 60px
      @include mobile
        width: 40px
        height: 40px
        margin-right: 10px

