.vue-notification
  padding: 10px
  position: fixed
  min-width: 250px
  max-width: 50%
  z-index: 10
  top: 10px
  right: 10px
  margin: 0 5px 5px
  font-size: 16px
  color: #ffffff
  background: #44A4FC
  border-left: 5px solid #187FE7

  &.warn
    background: #ffb648
    border-left-color: #f48a06

  &.error
    background: #E54D42
    border-left-color: #B82E24

  &.success
    background: #68CD86
    border-left-color: #42A85F
