.weather-list
  display: flex
  width: 100%
  max-width: 500px
  justify-content: space-between
  margin-bottom: 1rem
  .day
    color: $text-color-secondary
  .info
    display: flex
    .icon
      margin-right: 2rem
      @include mobile
        margin-right: 1rem
    .tempHigh
      width: 50px
      @include mobile
        width: 40px
    .tempMin
      width: 30px
      color: $text-color-secondary
