<template>
  <div class="page">
    <notifications group="error" />
    <Header />
    <div class="content">
      <Nuxt />
    </div>
  </div>
</template>

<script>
import Header from '@/components/_layout/Header'
export default {
  components: { Header }
}
</script>
