<template>
  <div class="city-detail">
    <Card
      :key="weatherData.city.name"
      :title="todayWeather.weather[0].main"
      :text="todayWeather.main.temp | convertToCelcius"
      :sub-text="`${weatherData.city.name}, ${weatherData.city.country}`"
    >
      <div slot="otherText">
        Today, <span class="strong-text">{{todayWeather.weather[0].main}}</span> currently.
        It's <span class="strong-text">{{todayWeather.main.temp_min | convertToCelcius}}</span>
        and the high will be
        <span class="strong-text">{{todayWeather.main.temp_max | convertToCelcius}}</span>.
      </div>

      <i slot="icon" :class="`wi wi-owm-${todayWeather.weather[0].id}`" />
    </Card>
    <div class="other-weather-content">
      <div v-for="(weather, index) in otherWeathers" :key="index + '_weather'" class="weather-list" >
        <div class="day">
          {{ $moment(weather.dt_txt, 'YYYY-MM-DD HH:mm').format('dddd hh:mm A') }}
        </div>
        <div class="info">
          <div class="icon">
            <i :class="`wi wi-owm-${weather.weather[0].id}`" />
          </div>
          <div class="tempHigh">
            {{weather.main.temp_max | convertToCelcius}}
          </div>
          <div class="tempMin">
            {{weather.main.temp_min | convertToCelcius}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  scrollToTop: true,
  async asyncData({ params, store, $moment, redirect }) {
    let weatherData = null
    store.dispatch('app/setHeaderTitle', $moment().format('dddd, MMMM DD'))
    const city = params.city
    try {
      const res = await store.dispatch('weather/getDailyWeatherByCity', {cityName: city})
      weatherData = res.data
    }catch(err){
      redirect({name: 'index'})
    }
    return { city, weatherData }
  },
  computed: {
    todayWeather(){
      return this.weatherData.list[0]
    },
    otherWeathers(){
      return this.weatherData.list.slice(1)
    }
  },
  meta: {
    manualHeader: true
  },
}
</script>
