<template>
  <div class="home">
    <Search :disabled="searchLoading" @search="addNewCity"/>
    <div class="cities-area">
      <div class="title">Cities</div>
      <div class="cities-content">
        <Card
          v-for="cityWeather in weatherList"
          :key="cityWeather.name"
          style="cursor: pointer"
          :title="cityWeather.weather[0].main"
          :text="cityWeather.main.temp | convertToCelcius"
          :sub-text="`${cityWeather.name}, ${cityWeather.sys.country}`"
          small
          @click.native="$router.push({name: 'city', params: {city: cityWeather.name }})"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  data(){
    return {
      searchLoading: false,
    }
  },
  computed: {
    ...mapState({
      weatherList: state => state.weather.weatherList
    })
  },
  methods: {
    ...mapActions({
      getWeatherByCityName: 'weather/getWeatherByCityName'
    }),
    addNewCity(value){
      if(!value) return
      this.searchLoading = true
      this.getWeatherByCityName({cityName: value}).finally(() => {
        this.searchLoading = false
      })
    },
  },
  meta: {
    logoHeader: true,
  }
}
</script>
