<template>
  <div class="header">
    <Logo v-if="$route.meta.logoHeader"/>
    <template v-else >
      <div class="back" @click="$router.push({name: 'index'})">
        <svg width="23" height="38" viewBox="0 0 23 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 2L4 19L21 36" stroke="#0076FF" stroke-width="5"/>
        </svg>
      </div>
      <Logo only-image/>
      <div class="title">
        <span v-if="$route.meta.manualHeader">{{ headerTitle }}</span>
        <span v-else-if="$route.meta.title">{{ title }}</span>
        <span v-else>Weather</span>
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      headerTitle: state => state.app.headerTitle,
    })
  },
}
</script>
